@fortawesome:registry=https://npm.fontawesome.com/
@rankmi:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org
//npm.pkg.github.com/:_authToken=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
//npm.fontawesome.com/:_authToken=6BA4946F-6163-495C-B78B-D39805C1000B